body{
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);

}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);

    /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
.seiko{
  height: 700px;
  background: url(./wp3809317-seiko-wallpapers.jpg);
  filter: brightness(90%);
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}


/* .masters{
  filter: brightness(50%);
} */
  